*.iml
.gradle
.idea/
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/codeStyles
/.idea/modules.xml
/.idea/workspace.xml
/.idea/vcs.xml
/buildSrc/build
.DS_Store
/build
/captures
.externalNativeBuild
/home/zak/Рабочий стол/ProTovary/app/google-services.json
/keystore.properties
/protovary.jks
